<!doctype html>
<title>Links</title>
<link href=/css/styles.css rel=stylesheet>
<div class="lnk-root">
<nav class="lnk-menu">
	<a href=/links>All links</a
	><a href=/links/new>New link</a
	>
</nav>
{{{body}}}
</div>
