{{#link}}
<p>The link has been created</p>
<a href="{{url}}">Click here to follow the link</a>
<a href="/links/{{url}}">Click here to see it in the system</a>
<a href="/links">Click here to see all links</a>
<a href="/links/new">Click here to create a new link</a>
{{/link}}
