{{#link}}
<form action=/links{{#url}}/{{encodedUrl}}{{/url}} method=post class="md-form">
	<div class="md-form-row">
		<label class="md-form-lbl md-lnk-form-lbl" for=link-title>Title:</label>
		<input class="md-form-inp-text" id=link-title name=title value="{{title}}">
	</div>
	<div class="md-form-row">
		<label class="md-form-lbl md-lnk-form-lbl" for=link-url>URL:</label>
		<input class="md-form-inp-text" id=link-url name=url value="{{url}}">
	</div>
	<div class="md-form-row">
		<label class="md-form-lbl md-lnk-form-lbl" for=link-text>Description:</label>
		<textarea class="md-form-text" id=link-text name=text>{{text}}</textarea>
	</div>
	<div class="md-form-btns">
		<button type=reset>Reset</button>
		<button type=submit>
			{{#url}}Update link{{/url}}
			{{^url}}Create link{{/url}}
		</button>
	</div>
</form>
{{/link}}
