<a href=/signup>Go to signup</a>

<form action=/login method=post>
	<label>Username: <input name=username></label>
	<label>Password: <input type=password name=password></label>
	<button type=submit>Login</button>
</form>
