<a href=/login>Go to login</a>

<form action=/signup method=post>
	<label>Username: <input name=username></label>
	<label>Password: <input type=password name=password></label>
	<button type=submit>Login</button>
</form>
