a:-webkit-any-link {
	color: #40e;
}
a:hover {
	color: green;
}

body {
	background: #999;
	/* #036400 green */
	/* #640303 red */
	/* #120a64 blue */
	background: -webkit-linear-gradient(top, #640303 0, #120a64 100%) fixed;

	font-family: Cochin, helvetica, arial;
	font-size: 12pt / 11pt;

	padding: 0;
	margin: 0;
}
