.md-form {}

.md-form-row {
	display: -webkit-box;
	max-width: 450px;
	margin: 2px auto;
}

.md-form-lbl {
	display: inline-block;
	text-align: right;
	vertical-align: top;
}

.md-form-inp-text,
.md-form-text
{
	display: block;
	-webkit-box-flex: 1;
}

.md-form-text {
	height: 60px;
}

.md-form-btns {
	max-width: 450px;
	text-align: right;
	margin: 10px auto 0;
}